<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Calendario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/venobox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h3 class="mt-5">Consulta tu Calendario de inscripción</h3>
        <form id="calendarForm" class="form-inline mt-3">
            <div class="form-group">
                <label for="surname">Primer Apellido:</label>
                <input type="text" class="form-control" id="surname" placeholder="Ingresa tu apellido">
                <div class="alertaApellido" id="errorApellido">Por favor, ingresa tu apellido.</div>
            </div>
            <div class="form-group">
                <label for="shift">Turno:</label>
                <select class="form-control" id="shift">
                    <option value="Matutino">Matutino</option>
                    <option value="Vespertino">Vespertino</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-custom">Obtener Calendario</button>
        </form>
        <a id="downloadButton" class="btn btn-success btn-custom" href="#" download="calendario.pdf" style="margin-bottom: 1em;">Descargar Calendario</a>
    </div>

    <div class="calendar" id="calendarContainer">
        <h3>ORGANIZA TU SEMANA DE BIENVENIDA</h3>
        <div id="calendarContent"></div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
