<div class="week">
      <div class="day-container">
          <div class="day">
              <h2>Lunes 12</h2>
              <div class="event">
                  <span id="horaBienvenida" class="time">{{ info.horaBienvenida }}</span>
                  <span class="activity">CEREMONIA DE BIENVENIDA</span>
              </div>
              <div class="event">
                  <span class="activity">EXPO FAMILIA PUMA</span>
              </div>
              <div class="event">
                  <span class="time">Todo el día</span>
              </div>
              <div class="event">
                  <span class="activity">LLENA TU HOJA DE DATOS PERSONALES</span>
              </div>
              <div class="event">
                  <span class="activity">DESCARGA TU COMPROBANTE</span>
              </div>
          </div>
      </div>
      <div class="day-container">
          <div class="day">
              <h2>Martes 13</h2>
              <div class="event">
                  <span id="horaCharla" class="time">{{ info.horaCharla }}</span>
                  <span class="activity">CHARLA DE INDUCCION</span>
              </div>
          </div>
      </div>
      <div class="day-container">
          <div class="day">
              <h2>Miércoles 14</h2>
              <div class="event">
                  <span id="EI14hora" class="time">{{ info.EI14hora }}</span>
                  <span id="EI14" class="activity">{{ info.EI14 }}</span>
              </div>
          </div>
      </div>
      <div class="day-container">
          <div class="day">
              <h2>Jueves 15</h2>
              <div class="event">
                  <span id="EI15hora" class="time">{{ info.EI15hora }}</span>
                  <span id="EI15" class="activity">{{ info.EI15 }}</span>
              </div>
          </div>
      </div>
      <div class="day-container">
          <div class="day">
              <h2>Viernes 16</h2>
              <div class="event">
                  <span id="EI16hora" class="time">{{ info.EI16hora }}</span>
                  <span id="EI16" class="activity">{{ info.EI16 }}</span>
              </div>
          </div>
      </div>
  </div>
  <div class="notes">
      <div class="note">
          <h3>NOTAS</h3>
          <div class="event">
            <ul>
                <li>Leer completo el instructivo de trámites.</li>
                <br>
                <li>Identifica actividades en línea y actividades presenciales.</li>
                <br>
                <li>Respeta fechas y horarios.</li>
            </ul>            
          </div>
      </div>
      <div class="reminder">
          <h3>NO OLVIDES:</h3>
          <div class="event">
            <span>
                <strong>PARA TODAS LAS ACTIVIDADES PRESENCIALES:</strong>
                <ul>
                    <li>No olvides traer paraguas y celular con crédito</li>
                </ul>
            </span>
            <br>
            <span>
                <strong>PARA EL EXAMEN MÉDICO:</strong>
                <ul>
                    <li>Lápiz del #2</li>
                    <li>Goma</li>
                    <li>Cubrebocas</li>
                    <li>Sacapuntas</li>
                </ul>
            </span>            
          </div>
      </div>
      <div class="urgent">
          <h3>URGENTE</h3>
      </div>
  </div>  