<div class="week">
      <div class="day-container">
          <div class="day">
              <h2>Lunes</h2>
              <div class="event">
                  <span id="horaBienvenida" class="time">{{ info.horaBienvenida }}</span>
                  <span class="activity">CEREMONIA DE BIENVENIDA</span>
              </div>
              <div class="event">
                  <span class="activity">EXPO FAMILIA PUMA</span>
              </div>
              <div class="event">
                  <span class="time">Todo el día</span>
              </div>
              <div class="event">
                  <span class="activity">LLENA TU HOJA DE DATOS PERSONALES</span>
              </div>
              <div class="event">
                  <span class="activity">DESCARGA TU COMPROBANTE</span>
              </div>
          </div>
      </div>
      <div class="day-container">
          <div class="day">
              <h2>Martes</h2>
              <div class="event">
                  <span id="horaCharla" class="time">{{ info.horaCharla }}</span>
                  <span class="activity">CHARLA PARA PADRES</span>
              </div>
          </div>
      </div>
      <div class="day-container">
          <div class="day">
              <h2>Miércoles</h2>
              <div class="event">
                  <span id="EI14hora" class="time">{{ info.EI14hora }}</span>
                  <span id="EI14" class="activity">{{ info.EI14 }}</span>
              </div>
          </div>
      </div>
      <div class="day-container">
          <div class="day">
              <h2>Jueves</h2>
              <div class="event">
                  <span id="EI15hora" class="time">{{ info.EI15hora }}</span>
                  <span id="EI15" class="activity">{{ info.EI15 }}</span>
              </div>
          </div>
      </div>
      <div class="day-container">
          <div class="day">
              <h2>Viernes</h2>
              <div class="event">
                  <span id="EI16hora" class="time">{{ info.EI16hora }}</span>
                  <span id="EI16" class="activity">{{ info.EI16 }}</span>
              </div>
          </div>
      </div>
  </div>
  <div class="notes">
      <div class="note">
          <h3>NOTAS</h3>
      </div>
      <div class="reminder">
          <h3>NO OLVIDES:</h3>
      </div>
      <div class="urgent">
          <h3>URGENTE</h3>
      </div>
  </div>  